In [2]:
import pandas as pd

In [129]:
pybank = pd.read_csv('/Users/jorgedennis/Downloads/python-challenge/PyBank/Resources/budget_data.csv')
pybank

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [110]:
months = pybank.shape[0]
months

86

In [62]:
net_total = pybank['Profit/Losses'].sum()
net_total

22564198

In [156]:
# Find average change

pybank['Shifted P/L'] = pybank['Profit/Losses'].shift(1)
pybank['Change'] = pybank['Profit/Losses'] - pybank['Shifted P/L']
average_change = pybank['Change'].mean()
average_rounded = round(pybank['Change'].mean(),1)
average_rounded

-8311.1

In [138]:
# Find biggest increase

biggest_increase = pybank['Change'].max()
biggest_increase

1862002.0

In [139]:
# Find biggest decrease

biggest_loss = pybank['Change'].min()
biggest_loss

-1825558.0

In [140]:
# Find maximum value date

biggest_increase_date = pybank.loc[pybank['Change'] == biggest_increase, 'Date']
biggest_increase_date

79    Aug-16
Name: Date, dtype: object

In [143]:
# Find biggest increase date


biggest_loss_date = pybank.loc[pybank['Change'] == biggest_loss, 'Date']
biggest_loss_date

49    Feb-14
Name: Date, dtype: object

In [146]:
# Find biggest decrease date value

biggest_loss_date = pybank.iat[11, 0]
biggest_loss_date

'Dec-10'

In [145]:
# Find maximum value date value

biggest_increase_date = pybank.iat[38, 0]
biggest_increase_date

'Mar-13'

In [157]:
print("Financial Analysis")
print("------------------")
print("Total Months: " + str(months))
print("Total: " + "$" + str(net_total))
print("Average Change: " + "$" + str(average_rounded))
print("Greatest Increase in Profits: " + biggest_increase_date + " ($" + str(biggest_increase)+ ")")
print("Greatest Decrease in Profits: " + biggest_loss_date + " ($" + str(biggest_loss) + ")")

Financial Analysis
------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.1
Greatest Increase in Profits: Mar-13 ($1862002.0)
Greatest Decrease in Profits: Dec-10 ($-1825558.0)

In [176]:
open('financial_analysis.txt', 'x')
with open ('financial_analysis.txt', 'w') as text: 
    text.write("Financial Analysis\n")
    text.write("------------------\n")
    text.write("\n Total Months: " + str(months))
    text.write("\n Total: " + "$" + str(net_total))
    text.write("\n Average Change: " + "$" + str(average_rounded))
    text.write("\n Greatest Increase in Profits: " + biggest_increase_date + " ($" + str(biggest_increase)+ ")")
    text.write("\n Greatest Decrease in Profits: " + biggest_loss_date + " ($" + str(biggest_loss) + ")")